<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row text-center">
                <div class="col-6">
                <p class="text-success">1/5</p>
                <p>Done</p>
                </div>
                <div class="col-6">
                    <p class="text-danger">4/5</p>
                    <p>To Do</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container date bg-secondary">
    <div class="row text-center">
        <div class="col-3">                  
            <button type="button" class="btn btn-info w-100 p-3">
                <%= fa_icon "chevron-left", text: "", left: true %>
            </button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary w-100 p-3">
                    <%= @selectedDate %>
            </button>            
        </div>
        <div class="col-3">               
            <button type="button" class="btn btn-info w-100 p-3">
                <%= fa_icon "chevron-right", text: "", right: true %>
            </button>            
        </div>    
    </div>
</section>

<section class="container-flex">
    <div class="list-group">
        <% @work.each do |item| %>         
            <%= link_to item.f_name+": "+item.t_name, '/work/facility/'+item.f_id.to_s+'/template/'+item.id.to_s, class: "list-group-item list-group-item-action" %>  
        <% end %>  
    </div>
</section>

