.date{
    .col-3{
        padding-right: 0px;
        padding-left: 0px;
    }
    .col-6{
        padding-right: 0px;
        padding-left: 0px;
    }
}
header{
    .jumbotron{
        margin-bottom: 0rem;
    }
}